.flex-grid-3[data-v-dc99dcda]{display:grid;grid-template-columns:repeat(3,1fr);gap:.625rem;padding:.625rem}.grid-itme[data-v-dc99dcda]{height:3.75rem}.theme-bg[data-v-dc99dcda]{color:#fff;box-shadow:0 2px 10px rgba(0,0,0,.3)}
