.qrcode uni-image{width:100%}.btns-wrap{position:fixed;height:2.75rem;right:0;bottom:0;left:0;display:flex;z-index:10}.btns-wrap .btn-red{width:100%;height:2.75rem;line-height:2.75rem;border-radius:0}
